*, html {
	/*font-family: skia;*/
	/*color: black;*/
}
.black {
	background-color: white;
	color: black;
}
.container-fluid {
	padding: 0;
}
header {
	height: 100%;
	text-align: center;
	margin: auto;
	padding: 15px !important;
}
header > #logo {
	background-color: white;
	width: 100%;
}
header > #logo > img  {
	background-color: white;
}

h1 {
	margin: 0;
	font-weight: bolder;
	padding: 15px;
}
h4 {
	font-weight: lighter;
}
/*#pp {
width: 100%;
}

#pp > img {
width: 25vh;
}*/
#download {
	width: 100%;
	background-color: white;
	text-align: center;
	border: 5px solid black;
}
a {
	text-decoration: none !important;
}
#download:hover > h5{
	color: #b30000;
}
h5 {
	color: black;

}
body {
	text-align: center;
}
embed {
	width:90%;		
	height:500px;
}
